{%include 'adminheader.html'%}
<table class="table">
	<tr>
		<th>Name</th>
		<th>House Name</th>
		<th>Ward</th>
		<th>House Number</th>
		<th>Place</th>
		<th>Age</th>
		<th>Gender</th>
		<th>Phone</th>
		<th>Email</th>
		<th>Designation</th>
		
	</tr>
	{% for i in data['view']%}
	<tr>
		<td>{{i['fname']}} {{i['lname']}}</td>
		<td>{{i['hname']}}</td>
		<td>{{i['ward']}}</td>
		<td>{{i['hno']}}</td>
		<td>{{i['place']}}</td>
		<td>{{i['age']}}</td>
		<td>{{i['gender']}}</td>
		<td>{{i['phone']}}</td>
		<td>{{i['email']}}</td>
		<td>{{i['user_designation']}}</td>
		
		<td><a href="admin_view_govstaff_details?r_id={{i['request_id']}}" class="btn btn-success">View Staff</a></td>
	</tr>
	{%endfor%}
</table>

{% include 'footer.html'%}