{%include 'public_header.html'%}
<center>
    <h1>Register</h1>
    <form method="post">
        <table>
            <tr>
                <th style="padding: 20px ">First Name</th>
                <td><input type="text" name="ee1" class="form-control"></td>
            </tr>
            <tr>
                <th style="padding: 20px">Last Name</th>
                <td><input type="text" name="ee2" class="form-control"></td>
            </tr>
             <tr>
                <th style="padding: 20px ">House Name</th>
                <td><input type="text" name="ee3" class="form-control"></td>
            </tr>
            <tr>
                <th style="padding: 20px">Ward</th>
                <td><input type="text" name="ee4" class="form-control"></td>
            </tr>
            <tr>
                <th style="padding: 20px">House Number</th>
                <td><input type="text" name="ee5" class="form-control"></td>
            </tr>
            <tr>
                <th style="padding: 20px">Place</th>
                <td><input type="text" name="ee6" class="form-control"></td>
            </tr>
              <tr>
                <th style="padding: 20px">Age</th>
                <td><input type="text" name="ee7" class="form-control"></td>
            </tr>
             <tr>
                <th style="padding: 20px ">Phone</th>
                <td><input type="text" name="ee8" maxlength="10" class="form-control"></td>
            </tr>
            <tr>
                <th style="padding: 20px">Email</th>
                <td><input type="email" name="ee9" class="form-control"></td>
            </tr>
            <tr>
                <th style="padding: 20px">Designation</th>
                <td><input type="text" name="ee10" class="form-control"></td>
            </tr>
            <tr>
                <th style="padding: 20px ">User Name</th>
                <td><input type="text" name="ee11" class="form-control"></td>
            </tr>
            <tr>
                <th style="padding: 20px">Password</th>
                <td><input type="password" name="ee12" class="form-control"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;"><input type="submit" name="submit" value="Register" class="btn btn-success"></td>
            </tr>
        </table>
    </form>
</center>

{%include 'footer.html'%}