{%include 'userheader.html'%}
<table class="table">
	<tr>
		<th>Name</th>
		<th>Shop</th>
		<th>Place</th>
		
		<th>Phone</th>
		<th>Email</th>
		
	</tr>
	{% for i in data['view']%}
	<tr>
		<td>{{i['fname']}} {{i['lname']}}</td>
		<td>{{i['shop']}}</td>
		
		<td>{{i['place']}}</td>
		
		<td>{{i['phone']}}</td>
		<td>{{i['email']}}</td>
		
		<td><a href="user_send_time_scheduling?r_id={{i['shop_id']}}" class="btn btn-info">Time</a></td>
		<td><a href="user_send_Rating?r_id={{i['shop_id']}}" class="btn btn-info">Rating </a></td>


	</tr>
	{%endfor%}
</table>